<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fba46c10-0f55-4c01-a262-76acdeb5b7f4/resourceGroups/ApiCOMSEG_group/providers/Microsoft.Web/sites/ApiCOMSEG</ResourceId>
    <ResourceGroup>ApiCOMSEG_group</ResourceGroup>
    <ApiResourceId>/subscriptions/fba46c10-0f55-4c01-a262-76acdeb5b7f4/resourceGroups/ApiCOMSEG_group/providers/Microsoft.ApiManagement/service/BackEndCOMSEGapi/apis/BackEndCOMSEG</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://apicomseg.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>7363c087-5b01-423c-833d-077da75aa3d6</ProjectGuid>
    <MSDeployServiceURL>apicomseg.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ApiCOMSEG</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ApiCOMSEG</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>